@using Mvc1.Models.Entity
@model List<TBLURUNLER>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layou2.cshtml";
}
<table id="tbl1" class="table table-bordered">
    <thead>
        <tr>
            <th>ÜRÜN ID</th>
            <th>ÜRÜN ADI</th>
            <th>MARKASI</th>
            <th>KATEGORİ</th>
            <th>FİYAT</th>
            <th>STOK</th>
            <th>SİL</th>
            <th>GÜNCELLE</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var urn in Model)
        {
        <tr>
            <th>@urn.URUNID</th>
            <th>@urn.URUNAD</th>
            <th>@urn.MARKA</th>
            <th>@urn.URUNKATEGORI</th>
            <th>@urn.FIYAT</th>
            <th>@urn.STOK</th>

            <td><a href="/URUN/SIL/@urn.URUNID" class="btn btn-danger">SİL</a></td>
            <td><a href="/Urun/UrunGetir/@urn.URUNID" class="btn btn-success">GÜNCELLE</a></td>
        </tr>
        }
    </tbody>
</table>
<a href="/Urun/UrunEkle/" class="btn btn-primary">YENİ ÜRÜN EKLE</a>
